@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1c55zr');
  src:  url('../fonts/icomoon.eot?1c55zr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1c55zr') format('truetype'),
    url('../fonts/icomoon.woff?1c55zr') format('woff'),
    url('../fonts/icomoon.svg?1c55zr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplay:before {
  content: "\e900";
  color: #607d8b;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-windows:before {
  content: "\eac2";
}
.icon-linkedin:before {
  content: "\eac9";
}
